@charset "utf-8";

/* tablet 해상도 영역에서 적용되는 서식 */
@media screen and (min-width:767px) and
(max-width:1025px) {

/* header */
header{
  width:100%; 
  height: 70px;
  position: fixed; 
  top: 0px;
  z-index: 9999;
  overflow: hidden;
}



/* 내비게이션 */
.h_inner{
  width: 100%;
  margin: 0px auto;
  /* background: #f0f; */
  position: relative;
}

.h_inner > nav{
  width: 100%;
  margin: 0px auto;
  position: relative;
}

.h_inner > nav > .gnb{
  width: 100%;
  display: flex;
  justify-content: right;
  text-align: center;
  transform: translateY(0px);
}

.gnb > li{
  margin: 25px 0px 25px 30px;
}

.gnb > li > a, .gnb > li > a > i{
  color: #fff;
  font-size: 1rem;
}

.gnb > li > a >i{margin-right: 40px;}

.sub > li > a{
  color: #fff;
  font-size: 0.8rem;
  line-height: 35px;
}

input[type=checkbox], i.fa-bars, label[for=toggle]{display: none;}
.mobile_logo{display: none;}

.gnb .fa-caret-down{display: none;}
.only_m{display: none;}






/* main */
main{overflow: hidden;}
.txt01{
  position: absolute;
  top: 53%; left: 5%;
  width: 100%;
  /* width: 1200px; */
  transform: translateX(0%);
}

.main_title{
  color: #fff;
  font-size: 3rem;
  line-height: 70px;
  margin-bottom: 20px;
}

.main_txt{
  color: #fff;
  font-size: 1.2rem;
}

/* 아티클 크기 줄이기 */
.about_wrap, .sig_wrap, .best, .bath, .find_wrap{
  width: 100%;
}
article{margin: 0px auto;}

.title01{
  width: 1200px;
  margin: 50px auto 0px auto;
  font-size: 26px;
  color: #222;
  /* text-align: center; */
  font-weight: 500;
  /* margin-top: 100px; */
  padding-top: 40px;
}

.title_s{
  font-size: 18px;
  padding: 20px 0px 40px 0px;
  text-align: center;
}




/* about us, spa */
.about{
  width: 100%; height: 300px;
  overflow: hidden;
  position: relative;
  margin: 90px 0px 0px 0px;
}
.spa{
  width: 100%; height: 300px;
  overflow: hidden;
  margin-top: 140px;
}

.about span, .spa span{
  font-size: 1rem;
}
.about h2, .spa h2{
  font-size: 1.5rem;
  font-weight: 500;
  padding: 20px 0px 40px 0px;
}
.about p, .spa p{
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 20px;
  margin: 10px 0px 20px 0px;
}

.about li:last-child{
  position: absolute;
  bottom: 3%; right: 1%;
  text-align: right;
}
.spa li:first-child{
  width: 40%;
  position: absolute;
  top: 3%; left: 1%;
}

.pc{display: none;}






/* signiture scents */
.sig{
  width: 100%;
  margin: 0px auto;
  position:relative;
}

.sig_wrap{padding-bottom: 0px;
  height: 750px;   overflow: hidden;}

.sig_btn{
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  width: 50%;
  margin: 50px 0px 25px 0px;
  padding: 0px 10px;
  box-sizing: border-box;
  text-align: center;
}
.sig_btn > li{width: 200px;}

.sig_btn a{font-weight: 300; color: #888;}
.sig_btn a:hover{font-weight: 500; color: #222;} 

.sig_in{
  display: flex;
  width: 100%;
  overflow:hidden;
  /* border:3px solid #f00; */
  position:absolute;left:0px;top:150px;
  /* justify-content: space-between; */
}

.sig_in >li{width: 50%;
/* border: 3px solid #f00; */
background:#fffef9;
}

.inner > li{width: 47%;}

.inner > li > a p{font-size: 0.9rem;}
.inner > li > a span{font-size: 0.8rem;}






/* find */
.find_wrap{width: 100%; height: 800px;}

.back_left{width: 100%; height: 50%;}

.back_right{width: 100%; height: 50%;}

.find{
  width: 1200px;
  height: 100%;
  display: block;
  justify-content: space-between;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(none);
  z-index: 10;
}

.find > li{
  width: 50%;
  height: 50%;
  text-align: center;
 /* padding: 60px; */
  box-sizing: border-box;
  transform: translate(50%, 20%);
}

/* .find01{padding-top: 0px;} */

.find01 *{
  color: #fff;
}

.find > li > h4{
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 50px;
}
.find > li > p{
  font-size: 18px;
  margin-bottom: 15px;
}










/* 모토 */
.moto{
  width: 100%;
  margin: 0px auto;
}

.moto > ul > li > img{height: 80px;}







/* footer */
footer{overflow: hidden;}
i.fa-angle-down{display: none;}

.f_wrap{
  width: 100%;
  margin: 0px auto;
  position: relative;
}

.f_right{
  position: absolute;
  left: 460px; top: 0px;
  display: flex;
  transform: translateY(-37px);
}

}